<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id = "articleDAO" class="com.sist.exam02.ArticleDAO"/>
	<bean id = "ws" class = "com.sist.exam02.WriteArticleService">
		<constructor-arg>
			<ref bean="articleDAO"/>
		</constructor-arg>
		<constructor-arg ref = "articleDAO"/>
	</bean> -->
	
	<bean id = "sm" class = "com.sist.exam03.SystemMonitor">
	<constructor-arg value = "30"></constructor-arg>
	</bean>
</beans>
