<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#delete").click(function(event){
			if(confirm("정말로 삭제하시겠어요?")==false){
				event.preventDefault();
			}
			/*if(confirm("정말로 삭제하시겠어요?")){
			}else{
				event.preventDefault();
			}*/
		})
	})
</script>
</head>
<body>
	<h2>책목록</h2>
	<hr>
	<a href="insert">추가</a>
	<br>
	
	<form action="/book/list" method="post">
		<select name = "column">
			<option  value = "bookid">책번호</option>
			<option value = "bookname">책이름</option>
			<option value = "publisher">출판사</option>
			<option value = "price">책가격</option>
		</select> <input type = "text" name="content">
		<input type = "submit" value="검색">
	</form>
	
	<table border="1" width="60%">
		<tr>
			<td> <a th:text="책번호" th:href="@{/book/list(sort_col=bookid)}"></a></td>
			<td> <a th:text="책이름" th:href="@{/book/list(sort_col=bookname)}"></a></td>
			<td> <a th:text="출판사" th:href="@{/book/list(sort_col=publisher)}"></a></td>
			<td> <a th:text="책가격" th:href="@{/book/list(sort_col=price)}"></a></td>
		</tr>
		<tr th:each="b:${list}">
			<td th:text="${b.bookid}"></td>
			<td th:text="${b.bookname}"></td>
			<td th:text="${b.publisher}"></td>
			<td th:text="${b.price}"></td>
			<td>
				<a th:href="'/book/update/'+${b.bookid}" th:text="수정"></a>
				<a th:href="'/book/delete/'+${b.bookid}" id = "delete" th:text="삭제"></a>
			</td>
		</tr>
		
		
	</table>
</body>
</html>