<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>게시물 수정</h2>
	<hr>
	
	<form action="/board/update" method="post" enctype="multipart/form-data">
		<input type="hidden" name = "no" th:value="${b.no}">
		글번호 : <p th:text="${b.no}"></p>
		글제목 :	<input type="text" name = "title" th:value="${b.title}"><br>
		작성자 : <input type="text" name = "writer" th:value="${b.writer}"><br>
		비밀번호 : <input type="password" name = "pwd" ><br>
		첨부파일 : <input type = "file" name = "uploadFile" th:value="${b.fname}"><br>
		글내용 : <br>
		<textarea rows="10" cols="80" name = "content" th:value="${b.content}"></textarea>
		<input type="submit" value = "수정">
		<input type="reset" value = "다시입력">
	</form>
</body>
</html>