<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>게시물 목록</h2>
	<hr>
	<a href = "/board/insert">등록</a><br>
	<a href = "/board/list/1/all">All</a><br>
	<a th:href = "@{'/board/list/1/'+${session.id2.id}}">내 글</a><br>
	 <a href = "/logout">로그아웃</a><br>
	<th:block th:if="${session.id2.role} == admin">
		<a href="/admin/index">관리자메뉴</a>
	</th:block>
	
	<span th:text="${session.id2.id}"></span>
	
	<table border="1" width = "80%">
		<tr>
			<td>글번호</td>
			<td>글제목</td>
			<td>작성자</td>
			<td>등록일</td>
			<td>아이디</td>
		</tr>
		<tr th:each="b:${list}">
			<td th:text="${b.no}"></td>
			<td>
				<span th:if="${b.b_level} >0">
					<span th:each="i:${#numbers.sequence(1,b.b_level)}">==</span>
					>
				</span>
				<a th:text ="${b.title}" th:href="@{'/board/detail/'+${b.no}}"></a>
			</td>
			<td th:text="${b.writer}"></td>
			<td th:text="${b.regdate}"></td>
			<td><a th:href="@{'/board/list/1/'+${b.member.id}}" th:text="${b.member.id}"></a></td>
		</tr>
		
	</table>
	
	<th:block th:each="i:${#numbers.sequence(1,totalPage)}">
		<a th:href="@{'/board/list/'+${i}+'/'+${id}}" th:text="${i}"></a>&nbsp;
	</th:block>
	
</body>
</html>