<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">
  <select id="findAll" resultType="GoodsVO">
    select no,name,price,qty,fname from (select rownum n, a.* from (select * from goods order by no) a) where n between #{start} and #{end}
  </select>
  <select id="insert" parameterType="GoodsVO">
    insert into goods(no, name, price, qty, fname) values(seq_goods.nextval, #{name}, #{price}, #{qty}, #{fname})
  </select>
  <select id="findByNo" resultType="GoodsVO">
  	select * from goods where no = #{no}
  </select>
  <select id="update" parameterType="GoodsVO">
  	update goods set name = #{name}, price = #{price}, qty = #{qty}, fname = #{fname} where no = #{no}
  </select>
  <select id="delete" parameterType="GoodsVO">
  	delete goods where no = #{no}
  </select>
  
  <select id="total" resultType="java.lang.Integer">
  	select count(*) from goods
  </select>
		
</mapper>