<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<update id="updateStep">
		update board set b_step = b_step + 1 where b_ref = #{b_ref} and b_step > #{b_step}
	</update>
  <select id="findAll" resultType="BoardVO">
   select no,writer,pwd,title,content,regdate,hit,fname,b_ref,b_step,b_level
from 
(select rownum n, a.* from
(select * from board order by b_ref desc, b_step) a)
where n between #{start} and #{end}
  </select>
  <select id="getNextNo"  resultType="java.lang.Integer">
  	select nvl(max(no), 0)+1 from board
  </select>
 	<select id="findByNo" resultType="BoardVO">
 		select * from board where no =#{no}
 	</select>
	<delete id = "delete">
		delete board where no = #{no} and pwd = #{pwd}
	</delete>  
  <insert id="insert" parameterType="BoardVO">
  	insert into board(no,writer,pwd,title,content,regdate,hit,fname,b_ref,b_step,b_level) 
  	values(#{no},#{writer},#{pwd},#{title},#{content},sysdate,0,#{fname},#{b_ref},
  	#{b_step},#{b_level})
  </insert>
  
  <select id="getTotal" resultType = "java.lang.Integer">
  	select count(*) from board
  </select>
  
  <update id ="update" parameterType="BoardVO">
  	update board set title = #{title}, content = #{content}, fname = #{fname} 
  	where no = #{no} and pwd = #{pwd}
  </update>
</mapper>